<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
 
    <p *ngFor="let producto of tienda ">
      <ion-item>
        {{producto.codigo}}
        {{producto.nombre}}
        {{producto.descripcion}}
        {{producto.precio}}
  

      </ion-item>

    

    </p>
  
    <div class="container-btn">
      <ion-button class="btn btn-success"(click)="saveNew()">Agregar Producto</ion-button>
        </div>
  
  </ion-content>
